.main-image{
    width: 30vw;
    min-width: 200px;
}

.container-main{
    background: linear-gradient(rgba(255,255,255,.9), rgba(255,255,255,.9)), url('../images/after-landing.svg') center center fixed;
    background-size:cover;
}

.dark .container-main{
    background: linear-gradient(rgba(32,32,32,.9), rgba(32,32,32,.9)), url('../images/after-landing-dark.svg') center center fixed;
    background-size:cover;
}

.navbar-dsc-logo{
    display: inline-block;
}

.icons{
    max-height: 300px;
    overflow: hidden;
    margin-bottom: 20px;
    transition: all .6s ease;
}

.icons-expanded{
    transition: all .6s ease;
    max-height: unset;
}

/* Portrait tablets and small desktops */
@media (min-width: 992px) and (max-width: 1180px) {

    .main-image{
        top: 30vh;
    }

    .icons{
        max-height: 300px;
    }

    .icons-expanded{
        transition: all .6s ease;
        max-height: unset;
    }

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

    .main-image{
        top: 30vh;
    }

    .icons{
        max-height: 300px;
    }

    .icons-expanded{
        transition: all .6s ease;
        max-height: unset;
    }

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

    .main-image{
        top: 30vh;
        transform:translateY(0%);
        float: left;
        padding-left:10vw;
        height: 250px;
    }

    .icons{
        max-height: 300px;
    }

    .icons-expanded{
        transition: all .6s ease;
        max-height: unset;
    }

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

    .main-image{
        top: 30vh;
        transform:translateY(0%);
        float: left;
        padding-left:10vw;
        height: 250px;
    }

    .icons{
        max-height: 620px;
    }

    .icons-expanded{
        transition: all .6s ease;
        max-height: unset;
    }

}
