.notification{
    height: auto;
    padding-top: 25px;
    /* padding-left: 10px; */
    /* padding-right: 10px; */
    width: calc(80vw - 50px);
    /* max-width: 600px; */
    margin: auto auto;
    /* margin-bottom: 30px; */
    box-shadow: 0px 2px 10px rgba(0,0,0,0.15);
    border-radius: 6px;
    color: #141414;
    z-index: 999;
}
.links{
    /* border-style: solid; */
    /* border-color: blue; */
    margin:30px auto;
    /* justify-content: center; */
    /* width: 1118px; */
    width: 1132.5px;
    /* justify-items: center; */
    /* text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines; */
}
.dark .notification{
    color: #ffffff;
}
.image{
    width:350px;
    /* height: auto; */
    /* padding:1%; */
    height:350px;
    justify-content: center;
    /* border-style: solid; */
    /* border-color:yellow; */
    display: inline-block;
    margin:10px;
    /* overflow: none; */
}
img{
    width:350px;
    height:350px;
    /* width:25.5%; */
    transition: .5s ease;
    position: absolute;
}

video{
    width:350px;
    height:350px;
    transition: .5s ease;
    position: absolute;
}

/* img:hover{
    opacity: 0.05;
} */
.text{
    margin:25px 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media (max-width: 1139px) {
    .links{
        width: 100vw;
        /* display: grid; */
        /* grid-template-columns: 1fr; */
    }
    img{
        width:95%;
        /* height:95vw; */
        height: unset;
        margin:10px auto;
        
    }
    .image{
        width:95vw;
        height: unset;
        height:320px;
        /* min-height: 200px; */
        /* max-height: 350px; */
        /* max-height: 200px; */
        padding-top:10vw;
        padding-bottom:20px;
        /* margin:0.78vw; */
        
    }
    
    video{
        width:95vw;
        height:95vw;
    }
    img:hover{
        opacity:1;
    }
    .text{
        display: none;
    }
}