.notification{
    height: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
    width: calc(80vw - 50px);
    max-width: 600px;
    margin: auto auto;
    margin-bottom: 30px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.15);
    border-radius: 6px;
    color: #141414;
}