.dark .navbar-dsc-logo #Path_6{
    fill: #ffffff;
}

.dark .menu-phone #Path_6{
    stroke: #ffffff;
}

.dark .menu-phone #Path_7{
    stroke: #ffffff;
}

.dark .menu-phone #Path_8{
    stroke: #ffffff;
}

.dark .main-menu-close #Path_9{
    stroke: #ffffff;
}

.dark .main-menu-close #Path_10{
    stroke: #ffffff;
}

.dark .main-down-arrow #Path_1{
    stroke: #ffffff;
}

.dark .main-down-arrow #Path_2{
    stroke: #ffffff;
}